.DS_Store
.build/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.app
.AppleDouble
.LSOverride
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
.nvim/
buildServer.json
*.tar.gz
